<div class="row">
  <div class="col-md-6">
    <h1>Categories</h1>
  </div>
  <div class="col-md-6">
    <button type="submit" [disabled]="" class="btn btn-success mt-3" (click)="add()">
      Add New
    </button>
  </div>
</div>
<div class="col-sm-4">
    <div class="alert alert-success alert-dismissable" *ngIf="msg">
      <a href="#" class="close" (click)="closeAlert()">
        &times;
      </a>
      {{msg}}
    </div>
  </div>

<div class="row">


  <form (ngSubmit)="add()" #f="ngForm">
    

     <input type="text" class="form-control pull-right" id="search" placeholder="search">

    <div class="form-group mb-0 pb-0">

      <div class="col-md-12">
          <label for ="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Enter a New Name">
      </div>
    </div>

    <div class="form-group mb-0 pb-0">

      <div class="col-md-12">
          <label for ="parent">Parent</label>
        <input type="text" class="form-control" id="parent" name="parent" [(ngModel)]="parent" placeholder="Enter ">
      </div>
    </div>

  </form>


</div>



<div class="row">
  <!--tabela glavna-->
  <div class="col-md-10">

    <table class="table table-bordered">
      <thead>
        <tr>

          <th>Name</th>
          <th>Parent Category</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let person of persons; let i = index">
          <td>{{person.name}}</td>
          <td>{{person.parent}}</td>

          <td>
            <a  class="btn btn-sm btn-warning">
              Edit
            </a>
            <a (click)="delete(i)" class="btn btn-sm btn-danger">
              Delete
            </a>


          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>